/* COMMON */
body {
  /* css font 상속에 의해 모든 자손 element에 적용 */
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  /* google fonts family*/
  font-family: 'Nanum Gothic', sans-serif;
}

img {
  /* img는 inline 요소이기 떄문에 요소 아래에 공간을 갖는다. */
  display: block;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  background-color: royalblue;
}

header .inner {
  width: 1100px;
  height: 120px;
  margin: 0 auto;
  background-color: orange;
  position: relative;
}

header .logo {
  /* 세로 중앙 배치 : height + top + bottom + margin: auto + 부모 relative*/
  position: absolute;
  height: 75px;
  top: 0;
  bottom: 0;
  margin: auto auto;

  display: none;
}

/* @TODO 미리 html 구조대로 css 셀렉터를 선언해두고, 퍼블리싱하는 것도 좋은 방법 */
header .sub-menu {
}
header .sub-menu ul.menu {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  /* content 속성이 없으면 before 가상요소가 생성되지 않는다.  */
  content: '';
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  /* absolute  : display 가 block으로 변경 */
  /* 아래 속성들로 수직 중앙 정렬 */
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
/* a tag 등 click 요소는 보다 UX 측면에서 편리하도록 padding값을 넣어주자(block 요소로 변경) */
header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  /* 검정색: #000000 */
  color: #000;
}
header .sub-menu .search {
}
header .sub-menu .search input {
}
header .sub-menu .search .material-icons {
}
